h1 {
    font-size: 2rem;
}

.app {
    margin-bottom: 0;
    margin-top: 0;
}

form label {
    display: block;
    color: var(--color-light);
    font-size: 1.2rem;
    font-weight: 500;
}

form input {
    background-color: var(--color-slate-lightest);
    border: 0;
    border-radius: 4px;
    color: var(--color-light);
    font-size: 1rem;
    margin: 10px 0 calc(var(--flow) * 2);
    min-height: 44px;
    padding: 0 12px;
    width: 100%;
}

form input::placeholder {
    color: var(--color-light);
}

form button {
    background-color: var(--color-accent);
    border: 0;
    border-radius: 4px;
    color: var(--color-light);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 550;
    min-width: 150px;
    transition: background-color .3s;
    padding: 10px 15px;
}

form button:hover,
form button:focus {
    background-color: var(--color-accent-shade);
}
